@import url("https://fonts.googleapis.com/css2?family=B612:ital,wght@0,400;0,700;1,400;1,700&family=Mohave:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mohave";
}

.wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    color: #ffffff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
}

h2 {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    padding-top: 60px;
}

h1 {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    padding-top: 32px;
}

.miniature {
    width: 184px;
    height: 267px;
}

.info-wrapper {
    position: absolute;
    bottom: 0;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 25px;
    padding-bottom: 41px;
}

h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 19px;
    width: 45px;
    text-align: right;
}

.info label h3 {
    width: 90px;
    text-align: left;
}

label {
    display: flex;
    align-items: center;
    gap: 5px;
}

picture img {
    margin-inline: 5px;
    width: 20px;
}

.details {
    background-color: #19191f;
    width: 100%;
    max-height: 250px;
    border-radius: 20px 20px 0px 0px;
    border: 1px solid #434346;
    overflow: auto;
}

.wrapper-buttons {
    padding: 32px 24px 24px;
    display: flex;
    justify-content: space-between;
}

button {
    padding: 8px 16px;
    width: 48%;
    height: 50px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    color: #ffffff;
    background-color: #0072d2;
    border-radius: 3px;
    border: none;
}

.wrapper-buttons button:last-child {
    background-color: #131318;
    border: 1px solid #ffffff;
    border-radius: 3px;
}

hr {
    width: 90%;
    height: 1px;
    margin: auto;
    background-color: rgba(196, 196, 196, 0.08);
}

p {
    padding: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: justify;
}

.desktop {
    display: none;
}

.side-button {
    position: fixed;
    display: flex;
    bottom: 50%;
    justify-content: space-between;
}

.arrow {
    width: 50px;
    position: fixed;
    bottom: 50vh;
    margin-inline: 20px;
    fill: rgb(255,255,255, 0.1);
}

.arrow:hover {
    transition: 0.2s;
    fill: rgb(255,255,255, 0.6);
}

#left-arrow {
    left: 0;
}

#right-arrow {
    right: 0;
}

@media only screen and (min-width: 900px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: flex;
    }
    
    .details {
        background: none;
        border: none;
        height: 250px;
    }

    .wrapper-buttons {
        max-width: 500px;
        padding-inline-start: 0;
    }

    .info-wrapper {
        max-width: 100%;
        padding-inline: 20%;
        flex-direction: column;
        justify-content: center;
    }

    .miniature {
        float: left;
    }

    .arrow {
        width: 100px;
    }
}

@media only screen and (max-width: 350px) {
    picture {
        display: none;
    }
}

@media only screen and (max-height: 550px) {
    h2 {
        display: none;
    }

    h1 {
        font-size: 48px;
    }

    .details {
        max-height: 100px;
    }
}
